.e1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(192.00000375509262, 142.00000673532486, 49.00000087916851, 1);
	width:1440px;
	height:3320px;
	position:absolute;
}
.e2_12 { 
	color:rgba(58.00000034272671, 58.00000034272671, 68.00000354647636, 1);
	width:102px;
	height:38px;
	position:absolute;
	left:1054px;
	top:102px;
	font-family:Lato;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e2_13 { 
	color:rgba(58.00000034272671, 58.00000034272671, 68.00000354647636, 1);
	width:111px;
	height:38px;
	position:absolute;
	left:1248px;
	top:102px;
	font-family:Lato;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e2_14 { 
	color:rgba(58.00000034272671, 58.00000034272671, 68.00000354647636, 1);
	width:102px;
	height:38px;
	position:absolute;
	left:833px;
	top:102px;
	font-family:Lato;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e3_23 { 
	width:1370px;
	height:768px;
	position:absolute;
	left:-202px;
	top:422px;
}
.e3_25 { 
	background-color:rgba(58.00000034272671, 58.00000034272671, 68.00000354647636, 1);
	width:690px;
	height:654px;
	position:absolute;
	left:64px;
	top:1106px;
}
.e3_31 { 
	color:rgba(255, 255, 255, 1);
	width:561px;
	height:213px;
	position:absolute;
	left:80px;
	top:1326px;
	font-family:Lato;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e3_30 { 
	color:rgba(192.00000375509262, 142.00000673532486, 49.00000087916851, 1);
	width:245px;
	height:38px;
	position:absolute;
	left:237px;
	top:1075px;
	font-family:Lato;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e3_32 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:650px;
	height:470px;
	position:absolute;
	left:708px;
	top:1190px;
}
.e3_33 { 
	width:650px;
	height:470px;
	position:absolute;
	left:708px;
	top:1190px;
	background-image:url(images\ \(5\).jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_39 { 
	background-color:rgba(192.00000375509262, 142.00000673532486, 49.00000087916851, 1);
	width:657px;
	height:808px;
	position:absolute;
	left:1566px;
	top:2489px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e15_51 { 
	width:500px;
	height:500px;
	position:absolute;
	left:-78px;
	top:-130px;
	background-image:url(kcommunication23.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_58 { 
	background-color:rgba(58.00000034272671, 58.00000034272671, 68.00000354647636, 1);
	width:713px;
	height:58px;
	position:absolute;
	left:645px;
	top:2951px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e15_59 { 
	color:rgba(255, 255, 255, 1);
	width:417px;
	height:21px;
	position:absolute;
	left:774px;
	top:2964px;
	font-family:DM Sans;
	text-align:center;
	font-size:Symbol(figma,mixed)px;
	letter-spacing:1;
	line-height:px;
}
.e15_60 { 
	color:rgba(58.00000034272671, 58.00000034272671, 68.00000354647636, 1);
	width:546px;
	height:22px;
	position:absolute;
	left:662px;
	top:2532px;
	font-family:Lato;
	text-align:left;
	font-size:64px;
	letter-spacing:1;
	line-height:px;
}
.e68_3 { 
	width:1335px;
	height:772px;
	position:absolute;
	left:152px;
	top:269px;
	background-image:url(1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e68_7 { 
	color:rgba(58.00000034272671, 58.00000034272671, 68.00000354647636, 1);
	width:732px;
	height:58px;
	position:absolute;
	left:67px;
	top:663px;
	font-family:Lato;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e68_6 { 
	color:rgba(58.00000034272671, 58.00000034272671, 68.00000354647636, 1);
	width:696px;
	height:156px;
	position:absolute;
	left:68px;
	top:454px;
	font-family:Lato;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e69_12 { 
	color:rgba(58.00000034272671, 58.00000034272671, 68.00000354647636, 1);
	width:256px;
	height:41px;
	position:absolute;
	left:80px;
	top:1884px;
	font-family:Lato;
	text-align:left;
	font-size:64px;
	letter-spacing:1;
	line-height:px;
}
.e69_9 { 
	width:435px;
	height:386px;
	position:absolute;
	left:64px;
	top:2623px;
	background-image:url(kk.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e69_10 { 
	background-color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:1294px;
	height:147px;
	position:absolute;
	left:67px;
	top:3141px;
}
.e69_11 { 
	color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:563px;
	height:45px;
	position:absolute;
	left:448px;
	top:3189px;
	font-family:DM Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e69_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:415px;
	height:304px;
	position:absolute;
	left:79px;
	top:1967px;
}
.e70_28 { 
	width:427px;
	height:315px;
	position:absolute;
	left:67px;
	top:1967px;
	background-image:url(Developpement-web-Agence-Web-Net-Concept-1920x1055.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e69_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:408px;
	height:315px;
	position:absolute;
	left:955px;
	top:1967px;
}
.e69_15 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:415px;
	height:315px;
	position:absolute;
	left:517px;
	top:1967px;
}
.e70_29 { 
	color:rgba(58.00000034272671, 58.00000034272671, 68.00000354647636, 1);
	width:345px;
	height:14px;
	position:absolute;
	left:76px;
	top:2316px;
	font-family:DM Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e70_31 { 
	color:rgba(58.00000034272671, 58.00000034272671, 68.00000354647636, 1);
	width:192px;
	height:14px;
	position:absolute;
	left:976px;
	top:2325px;
	font-family:DM Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e70_30 { 
	color:rgba(58.00000034272671, 58.00000034272671, 68.00000354647636, 1);
	width:205px;
	height:14px;
	position:absolute;
	left:532px;
	top:2316px;
	font-family:DM Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e70_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:713px;
	height:50px;
	position:absolute;
	left:645px;
	top:2623px;
}
.e70_20 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:671px;
	top:2637px;
	font-family:Lato;
	text-align:left;
	font-size:20px;
	letter-spacing:1;
	line-height:px;
}
.e70_22 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:22px;
	position:absolute;
	left:671px;
	top:2721px;
	font-family:Lato;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
	line-height:px;
}
.e70_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:713px;
	height:51px;
	position:absolute;
	left:645px;
	top:2714px;
}
.e70_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:713px;
	height:98px;
	position:absolute;
	left:645px;
	top:2805px;
}
.e70_27 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:22px;
	position:absolute;
	left:661px;
	top:2818px;
	font-family:Lato;
	text-align:left;
	font-size:20px;
	letter-spacing:1;
	line-height:px;
}
.e70_24 { 
	color:rgba(0, 0, 0, 1);
	width:172px;
	height:22px;
	position:absolute;
	left:668px;
	top:2726px;
	font-family:Lato;
	text-align:left;
	font-size:20px;
	letter-spacing:1;
	line-height:px;
}
.e70_32 { 
	width:410px;
	height:315px;
	position:absolute;
	left:522px;
	top:1967px;
	background-image:url(Call-Centre-PNG-Clipart.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e70_33 { 
	width:408px;
	height:315px;
	position:absolute;
	left:955px;
	top:1967px;
	background-image:url(images\ \(7\).jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e70_34 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e70_34 { 
	width:136px;
	height:0px;
	position:absolute;
	left:84px;
	top:2358px;
}
.e70_35 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e70_35 { 
	width:136px;
	height:0px;
	position:absolute;
	left:533px;
	top:2358px;
}
.e70_36 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e70_36 { 
	width:136px;
	height:0px;
	position:absolute;
	left:976px;
	top:2358px;
}
